.intro_text {
  padding: 3rem 6rem;
  background: #eee;
}

.intro_text h3 {
  font-size: 1.25rem;
  font-weight: 100;
}

#products{
  height: 50rem;
}

/* MOBILE */
@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: auto;
    place-items: center;
  }
  .links {
    display: none;
  }

  .intro_text {
    padding: 2rem;
    text-align: center;
    font-size: var(--mobile-font-size);
  }
}
