.product_form {
  background: rgb(150, 150, 150);
  padding: 2rem;
}

label {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.product_form_name input,
.product_form_short_description textarea,
.product_form_featured_image div {
  padding: 0.5rem;
  margin-left: 1rem;
}

.image_drop_box {
  width: 10rem;
  height: 10rem;
  background: grey;
}

.image_drop_box:hover,
.highlight:hover {
  background: white;
}


.product_create_btn input{
    padding: 1rem;
    background: rgb(56, 161, 42);
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 0.5rem;
}

.product_create_btn input:hover{
    background: rgb(113, 226, 99);
}