<h1>Single option</h1>

 <% cache @option do %>
      <h1><%= @option.name %></h1>
      <h1><%= @option.width %></h1>
      <h1><%= @option.height %></h1>
      <h1><%= @option.image_url %></h1>
<% end %>