<style>
    .btn {
        background: #CCC;
        display: inline-block;
        padding: 1rem;
    }
</style>

<div>
    <h1>ADMIN PAGE</h1>

    <h3 class="btn">
        <%= link_to "TO OPTIONS", options_path %>
    </h3>

    <h3 class="btn">
        <%= link_to "TO PRODUCTS", products_path %>
    </h3>

</div>