<div>
    <h1>ADMIN PAGE</h1>

    <h3>
        <%= link_to "MODIFY OPTIONS", options_path %>
        <%= @options %>
    </h3>

    <h3>
        <%= link_to "CREATE PRODUCT", new_product_path %>
    </h3>

</div>