<h1> Information </h1>

<section id="buying_info">
    <h1>
        Buying information
    </h1>
</section>
<section id="delivery_info">
    <h1>
        Delivery information
    </h1>
</section>
<section id="terms_info">
    <h1>
        Terms & Conditions
    </h1>
</section>
<section id="return_info">
    <h1>
        Return policy
    </h1>
</section>