<div class="intro_text">
    <h1> <%= @introText %></h1>


    <h3>
        One stop place to pick your most unigue gift ideas. Handmade and packaged to suit your needs. We are constantly updating
        our stocks with new things. We are open to work together to make perfect gift that you need.
    </h3>
</div>

<section id="products">
    <%= render "products/product_display" %>
</section>