  .logo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    max-width: 10rem;
  }
  
  .logo img {
    width: 6rem;
    height: 6rem;
  }
  

  /* MOBILE */
@media screen and (max-width: 600px) {
  .logo {
    display: flex;
    justify-items: center;
  }
  
  .logo h1{
    font-size: 1.15rem;
  }

  .logo img {
    width: 4rem;
    height: 4rem;
  }
}