footer {
  margin-top: 5rem;
  background: gray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 4rem;
}

.contact_details .contact:nth-child(2) {
  margin-top: 3rem;
}

.contact_details,
.footer_links {
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 0.5rem;
}

.footer_links a{
  display: block;
  height: 2rem;
  text-decoration: none;
  color: black;
}

.footer_links a:hover{
  color: rgb(116, 27, 27);
}