header {
  background: #eee;
  display: grid;
  grid-template-rows: auto auto;
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background: #bbb;
  padding: 0.5rem;
}

.links {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  background: #fff;
  gap: 2rem;
  padding: 1rem;
}

.links a {
  text-decoration: none;
  color: black;
  min-width: 6rem;
  text-align: center;
}

.links a:hover{
  color: rgb(116, 27, 27);
  letter-spacing: 0.05rem;
}

.shopcart{
  position: absolute;
  background: rgb(104, 221, 104);
  padding: 1rem;
  right: 0;
  top: 7rem;
}