<h1><%= t ".title" %></h1>

<% if false %>
<div id="products">
    <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product %>
    </div>
    <% end %>
</div>
<% end %>

<%= render "product_display" %>
