<h1><%= t ".title" %></h1>

<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
    <% @products.each do |product| %>
    <div>
        <%= link_to product.name, product %>
    </div>
    <% end %>
</div>

<section class="new_product">
    <div class="product_container">
    </div>

    <div class="product_name">
        <h1>product name</h1>
    </div>
</section>