<footer>
    <div class="contact_details">
        <%= render "layouts/components/logo" %>

        <div class="contact">
            <p> Phone: +372 5555 6666 </p>
        </div>
        <div class="contact">
            <p> Email: myStoreName@gmail.com</p>
        </div>
    </div>
     <div class="footer_links">
        <p> Products</p>
        <p> Buying information</p>
        <p> Delivery information</p>
        <p> Terms & Conditions</p>
        <p> Return policy</p>
    </div>
</footer>